.container {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../../images/home-background.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
