.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-image: url("../../images/multiple-choice.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: pink;
  text-align: center;
  justify-content: center;
  z-index: -1;
}

.question {
  display: flex;
  position: fixed;
  top: 25%;
  left: 25%;
  font-size: 10vh;
  align-items: center;
  justify-content: center;
  height: 23%;
  width: 50%;
  border: lawngreen;
  border-style: double;
}
